html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/*START PROJECT*/

* {
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}

.clearfix {
	content: " ";
	clear: both;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
}


/*Start Header section*/


header {
	height: 90px;
	background-color:#EBC75B;
	color:#fff;
}

.logo {
	float: left;
	padding-top: 10px;
}

#logo-top {
	font-family: 'Lato', sans-serif;
	font-size: 48px;
	font-weight: bold;
	margin-left: 30px;
}

#logo-bottom {
	float: left; 
	font-family: 'Lustria', serif;
	font-size: 1.03em;
	margin-left: 33px;
}

a {
	color:#fff;
	font-size: 17px;
	text-decoration: none;
}

.main-nav:hover {
	padding-bottom: 3px;
	border-bottom: 3px solid #fff;
}

nav {
	margin-right: 30px;
	float: right;
}

.main-nav {
	font-family: 'Lustria', serif;
	transition:all .5s ease-in-out;
	float: left;
	margin-left: 20px;
}

.main-nav:first-child {
	margin-left: 0;
}


/*End Header section*/


/*Start Main Content*/


.hero {
	background-image:url(img/blue_bottom.jpg);
	background-repeat: no-repeat;
	height: 480px;
	margin-top: -250px;
}

/*#tagwrap {
	background-color: #3C537F;
	border-radius: 0 0 10px 10px;
	width: 80%;
	margin: 0 auto;
	box-shadow: 10px 10px 10px;
	-webkit-box-shadow: 10px 10px 10px;
	-moz-box-shadow: 10px 10px 10px;
}*/

#tagline {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	font-weight: bold;
	margin-top: 250px;
	text-align: center;
	line-height: 1.5em;
	position: relative;
	top: 200px;
}

.blurbwrap {
	height: 150px;
	background-color: #3C537F;
	font-size: 17px;
	position: relative;
}

.blurb p {
	display: table-cell;
	vertical-align: center;
	text-align: center; 
	color: #fff;	
	font-family: 'Lustria', serif;
	padding-top: 25px;
	line-height: 2em;
}


/*End Main Content*/


/*Start Profile section*/

.img-wrap img{
	max-width: 100%;
	display: block;
	max-height: 100%;
}

.profile h1 {
	color: #3C537F;
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	font-weight: bold;
	text-align: center; 
}

#jarrod {
	border-color: #3C537F;
	border-style: 3px solid #3C537F;
	font-family: 'Lustria', serif;
	float: left;
	margin: 20px 0 0 160px;
}

#jarrod .img-wrap {
	height: 250px;
	width: 250px;
}

#jarrod .img-wrap img {
	border-radius: 50%;
}

#jarrod ul {
	line-height: 1.5em;
	text-align: center;
	font-style: 17px;
	margin-top: 15px;
}

#bold {
	font-weight: bold;
}

#endi {
	background-color: #3C537F;
	height: 250px;
	width: 250px;
	font-family: 'Lustria', serif;
	border-radius: 125px;
	border-color: #3C537F;
	float: left;
	margin: 20px 0 0 135px;
}

#endi ul {
	line-height: 1.5em;
	text-align: center;
	font-style: 17px;
	margin-top: 270px;
}


/*End Profile section*/


/*Start process section*/


.processwrap {
	background-color: #538A6B;
	height: 375px;
	text-align: center; 
	color: #fff;
	font-size: 40px;
	clear: both;
}

#process_title {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	text-align: center;
	margin-top: 75px;
	padding-top: 5px;
}

#drink {
	background-color: #fff;
	background-image:url(img/process-drink.jpg);
	background-repeat: no-repeat;
	height: 250px;
	width: 250px;
	font-family: 'Lustria', serif;
	float: left;
	margin: 20px 0 0 45px;
}

#drink h2 {
	margin-top: 260px;
}

#cut {
	background-color: #fff;
	background-image:url(img/process-cut.jpg);
	background-repeat: no-repeat;
	height: 250px;
	width: 250px;
	font-family: 'Lustria', serif;
	float: left;
	margin: 20px 0 0 60px;
}

#cut h2 {
	margin-top: 260px;
}

#polish {
	background-color: #fff;
	background-image:url(img/process-polish.jpg);
	height: 250px;
	width: 250px;
	font-family: 'Lustria', serif;
	float: left;
	margin: 20px 0 0 60px;
}

#polish	h2 {
	margin-top: 260px;
}


/*End Process section*/


/*Start Slideshow*/


.slideshow {
	height: 70%;
	margin:0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}	

/*#prev-arrow {
	background: url("img/victoria.jpg") 0 0 no-repeat;
	width: 64px;
	height: 64px;
	float: left;
	margin-top: 130px;
	opacity: .7;
	transition: all .3s ease;
}

.sliderwrap {
	height: 70%;
	margin:0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

.imagewrap {
	height: 300px;
	position: relative;
}

img {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.visible {
	display: block;
}

.sliderwrap p {
	margin-top: 20px;
	font-weight: bold;
	font-family: Helvetica;
	color: #e3e3e3;
}

#next-arrow {
	background: url("../img/right-arrow.png") 0 0 no-repeat;
	width: 64px;
	height: 64px;
	float: right;
	margin-top: -235px;
	opacity: .7;
	transition: all .3s ease;
}

#prev-arrow:hover, #next-arrow:hover {
	opacity: 1;
}*/

.slideshow#pic {
	background-image:url("img/victoria.jpg");
	background-repeat:no-repeat;
	background-attachment:relative;
	background-position:center;
	background-size:100%;
	width: 90%;
	height: 0;
	padding-top:66.64%;
}


/*End Slideshow*/


/*Start Contact Us section*/

/*comments*/

#contactform {
	width: 466px;
	float: left;
}

.contact h1 {
	color: #3C537F;
	font: 40px 'Lato', sans-serif;
	font-weight: bold;
	text-align: center; 
}

fieldset div {
	font-family: 'Lustria', serif;
	font-size: 17px;
	line-height: 25px;
	color: #3C537F;
	text-decoration: none;
	margin-bottom: 10px;
}

label {
	display: block;
}

input {
	width:465px;
	height: 44px;
	font-size: 17px;
	text-indent: 10px;
}

#comment {
	height: 200px;
	width: 465px;
}

textarea {
	min-width: 465px;
	min-height: 200px;
	resize: none;
	font-size: 17px;
	padding-top: 10px;
	text-indent: 10px;
}

.submit {
	background-color: #3C537F;
	height: 50px;
	width: 466px;
	margin-top: 50px;
}

.submit:hover {
	background-color: #455099;
}

.submit p {
	font-family: 'Lustria', serif;
	font-size: 21px;
	color: #fff;
	text-align: center;
	margin: 0 auto;
	padding: 15px;
	letter-spacing: 5px;

}

/*End comments*/

/*Start social media*/

.socialmedia {
	float: right;
	width: 466px; 
	margin-top: 25px;
}

.socialbox {
	background-color: #3C537F;
	height: 150px;
	width: 150px;
}

.socialbox:hover {
	background-color: #455099;
}

.socialbox img {
	padding: 11px;
}

.fb-insta {
	float: left;
	width: 150px;
}

.twitter-yt {
	float: left;
	width: 217px;
	margin-left: 25px
}

#instagram {
	margin-top: 25px;
}	

#youtube {
	margin-top: 25px;
}	


/*End social media*/

/*End Contact Us section*/

footer {
	height: 11em;
}


/*Start responsive styles*/

@media only screen and (max-width: 480px) {

body {
	padding: 5px;
	background-color: #fff;
	/*background-image: url(img/sio2finallogorev2trans.PNG);*/
	/*background-repeat: no-repeat;*/
}

#wrap {
	width: auto;
	margin-top: 80px;
}

header {
	display: none;
}

nav {
	float: none;
	height: auto;
}

.main-nav {
	float: none;
}

nav li {
	width: auto;
	text-align: left;
}

#hero {
	display: none;
}

.blurbwrap {
	text-align: auto;

	width: 480px;
}

.blurb {
	text-align: auto;
	width: 480px;
}

/*End responsive styles*/